//定义主题切换
$themes: (
        green: (
                primary-color          : rgba(55, 152, 88, 1),
                text-color             : #ffffff,
                button-disabled-color  : rgba(55, 152, 88, 0.6),
                button-hover-color     : rgba(55, 152, 88, 0.8),
                light-color-2          : rgba(55, 152, 88, 0.2),
                light-color            : rgba(55, 152, 88, 0.1),
        ),
        default: (
                primary-color          : rgba(64, 158, 255,1),
                text-color             : #ffffff,
                button-disabled-color  : rgba(64, 158, 255, 0.6),
                button-hover-color     : rgba(64, 158, 255, 0.8),
                light-color-2          : rgba(64, 158, 255, 0.2),
                light-color            : rgba(64, 158, 255, 0.1),
        ),
        cyan: (
                primary-color          : rgba(22, 178, 163,1),
                text-color             : #ffffff,
                button-disabled-color  : #97ccc7,
                button-hover-color     : rgba(22, 178, 163, 0.8),
                light-color-2          : rgba(22, 178, 163, 0.2),
                light-color            : rgba(22, 178, 163, 0.1),
        ),
        coffee: (
                primary-color          : rgba(152, 122, 112, 1),
                text-color             : #ffffff,
                button-disabled-color  : rgba(152, 122, 112, 0.6),
                button-hover-color     : rgba(152, 122, 112, 0.8),
                light-color-2          : rgba(152, 122, 112, 0.2),
                light-color            : rgba(152, 122, 112, 0.1),
        ),
        black: (
                primary-color          : rgb(18, 18, 18),
                text-color             : #ffffff,
                button-disabled-color  : rgba(18, 18, 18, 0.6),
                button-hover-color     : rgba(18, 18, 18, 0.8),
                light-color-2          : rgba(18, 18, 18, 0.1),
                light-color            : rgba(18, 18, 18, 0.1),
        ),
        dark-blue: (
                primary-color          : rgb(11, 99, 192),
                text-color             : #ffffff,
                button-disabled-color  : rgba(11, 99, 192, 0.6),
                button-hover-color     : rgba(11, 99, 192, 0.8),
                light-color-2          : rgba(11, 99, 192, 0.2),
                light-color            : rgba(11, 99, 192, 0.1),
        ),
        purple: (
                primary-color          : rgb(165, 82, 192),
                text-color             : #ffffff,
                button-disabled-color  : rgba(165, 82, 192, 0.6),
                button-hover-color     : rgba(165, 82, 192, 0.8),
                light-color-2          : rgba(165, 82, 192, 0.2),
                light-color            : rgba(165, 82, 192, 0.1),
        ),
);
